{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Macdesk Management site admin' %}{% endblock %}
{% block extrastyle %}
<style>
#header{
  background-color: #333940;
  #border-top-left-radius: 10px;
  #border-top-right-radius: 10px;
#	}
 
#branding h1{ color: #fff; }
.module h2, .module caption, .inline-group h2 { background:#ccc bottom left repeat-x; color: #333940; }
a.section:link, a.section:visited { color: #666666; }
</style>
{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Macdesk Management administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
